html, body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* background-color: rgb(63, 63, 63);
    color: aliceblue; */
}
main{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
    gap: 0;
}
form{
    padding-top: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
input{
    padding-left: 5px;
}

#contenedor-lista{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 24px;
    gap: 10px;
    /* Equivale mas o menos a una linea con fuente normal */
}
#div-limpiar{
    padding-top: 10px;
    justify-self: center;
}

.conj-titulos{
    padding-left: 24px;
}
.form-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.list-element{
    font-size: 30px;
    font-weight: 900;
    
}